# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [127]:
url   = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [128]:
print(chipo.head(10)) 
# chipo[:10]

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [95]:
# Solution 1

print(len(chipo.index))

4622

In [21]:
# Solution 2

print(len(chipo))

4622

### Step 6. What is the number of columns in the dataset?

In [14]:
print(len(chipo.columns.values))

5

### Step 7. Print the name of all the columns.

In [96]:
print(chipo.columns.values) # pandas way Returns Numpy array not list !!
print(list(chipo.columns))

['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']
['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [129]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [33]:
chipo['item_name'].mode()[0]
# print(chipo['item_name'].value_counts()) # Prints the frequency of all values

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [47]:
chipo[chipo['item_name'] == chipo['item_name'].mode()[0]]['quantity'].sum()
# or simply
chipo[chipo['item_name'] == 'Chicken Bowl']['quantity'].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [40]:
chipo['choice_description'].mode()[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [29]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [92]:
chipo['item_price']
chipo['item_price'] = chipo['item_price'].str.strip(to_strip='$').apply(pd.to_numeric)

#### Step 13.b. Create a lambda function and change the type of item price

In [111]:
chipo['item_price'].dtype
chipo['item_price'] = chipo['item_price'].map(lambda x: float(x.strip('$')))

In [112]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [114]:
chipo['item_price'].mul(chipo['quantity'], axis=0).sum()

39237.02

### Step 15. How many orders were made in the period?

In [124]:
len(chipo['order_id'].unique())

1834

### Step 16. What is the average revenue amount per order?

In [125]:
# Solution 1

chipo['item_price'].mul(chipo['quantity'], axis=0).sum() / len(chipo['order_id'].unique())

21.39423118865867

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [117]:
len(chipo['item_name'].unique())

50

In [ ]:
import sys
sys.version